.App {
  text-align: center;
  padding-bottom: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cabecalho{
  width: 100%;
  background: url('../static/img/header_branco.png');
  line-height: 40px;
  margin-bottom: -20px;
  height: 75px !important;
  background-color: #244061;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.theme-color {
  background: #244061 !important;
}

.menu {
  border-radius: 0 !important;
}